<script src="{{uiRootPath}}/js/site.js"></script>
<script async src="{{uiRootPath}}/js/vendor/highlight.js"></script>
<script src="{{uiRootPath}}/js/vendor/jquery-3.4.1.min.js"></script>
<script src="{{uiRootPath}}/js/vendor/jquery-ui-1.12.1.custom.widget-only.min.js"></script>
<script src="{{uiRootPath}}/js/vendor/jquery.tocify.min.js"></script>

<script>
    $(function() {
        $("#article-toc").tocify( {
            showEffect: "slideDown",
            hashGenerator: "pretty",
            hideEffect: "slideUp",
            selectors: "h2, h3",
            scrollTo: 120,
            smoothScroll: true,
            theme: "jqueryui",
            highlightOnScroll: true
        } );
    });
</script>


<!--
  docsearch options:
  https://docsearch.algolia.com/docs/behavior/
-->
<!--
  https://www.algolia.com/doc/api-reference/api-parameters/
  algoliaOptions: { hitsPerPage: 6 },
-->
