<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/gqo-logo-48x48.png"></img>
          </span>
        <span>{{site.title}}</span>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <a class="navbar-end">

        {{#if env.SITE_SEARCH_PROVIDER}}
          <div class="navbar-item search hide-for-print">
            <div id="search-field" class="field">
              <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
            </div>
          </div>
        {{/if}}
<!--
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Specification</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{siteRootPath}}/spec/1.0/about.html">Current</a>
            <hr class="navbar-divider"/>
            <a class="navbar-item" href="{{siteRootPath}}/spec/1.0/archive/about.html">Archive</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Implementations</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{siteRootPath}}/impl/latest/apache-isis/about.html">Apache Isis</a>
          </div>
        </div>
-->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Support</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{siteRootPath}}/support/latest/contact.html">Contact</a>
            <hr class="navbar-divider"/>
<!--
            <span class="navbar-item navbar-heading">License</span>
-->
            <a class="navbar-item" href="{{siteRootPath}}/support/latest/license.html">License</a>
          </div>
        </div>

        {{#if (and page.attributes.ci-project-root-namespace page.attributes.ci-project-path)}}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">This Repo</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="https://gitlab.com/{{page.attributes.ci-project-root-namespace}}/{{page.attributes.ci-project-path}}/-/tree/prod">Source Code</a>
              <a class="navbar-item" href="https://gitlab.com/{{page.attributes.ci-project-root-namespace}}/{{page.attributes.ci-project-path}}/-/pipelines">CI Pipelines</a>
              <!--
              <a class="navbar-item" href="https://{{page.attributes.ci-project-root-namespace}}.gitlab.io/{{page.attributes.ci-project-path}}">Docs</a>
              -->
            </div>
          </div>
        {{/if}}

        <a class="navbar-item" href="{{siteRootPath}}/">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/home.png"></img>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
